#contact {
  width: 90%;
  padding: 2em 13% 5.5em;
  background-color: #e6e6e6;
  font-family: 'Brown Light', 'Avenir', sans-serif;
}
#contact h1 {
  margin-bottom: 4rem;
}
#contact-info {
  border-bottom: solid 1px #555;
}
#contact-info span,
form legend {
  font-family: 'Brown Regular', 'Avenir', sans-serif;
  font-weight: 500;
}
#map,
#contact-info aside {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
#map {
  height: 17.5em;
  filter: grayscale(100%);
}
#contact-info aside {
  margin-left: 3%;
}
#contact-info a:hover {
  color: #777;
}

.info-group {
  margin-bottom: 2.2em;
  text-align: left;
}
.info-group.social {
  margin-bottom: 1.3em;
}
.info-group h3,
.info-group div {
  margin: 0 auto .375rem;
  font-size: 1.1875rem;
}
.info-group.social div {
  display: inline-block;
  vertical-align: top;
}
.info-group.social a {
  display: block;
  margin-bottom: .33em;
}

form {
  position: relative;
  padding-top: 1em;
  width: 48%;
  font-size: 1.125rem;
}
form legend {
  margin: 0 0 .75em;
  padding: 0;
}
form label {
  display: flex;
  margin: 0 auto .5em;
  padding: .125em 0;
  height: 1.75em;
  border-bottom: solid 1px #bfbfbf;
  text-align: left;
}
form label:last-of-type {
  display: block;
  height: auto;
  border-bottom: none;
}
form input {
  flex: 1;
  border: none;
  padding: 0 .5em .125em;
  height: 100%;
  max-width: 100%;
  font-size: .875em;
  background-color: inherit;
  vertical-align: bottom;
}
form textarea {
  display: block;
  margin: .75em 0;
  border: none;
  padding: .33em;
  width: 100%;
  height: 9em;
  resize: none;
  font-size: .875em;
}
form input:focus,
form textarea:focus {
  outline: none;
}
form button {
  position: absolute;
  left: 0;
  border: solid 1px black;
  padding: 0 1em;
  font-family: futura;
  font-size: .6875em;
  font-weight: 500;
  line-height: 2.25;
  background-color: inherit;
}
form button:hover {
  cursor: pointer;
}
