header {
  z-index: 99;
  position: fixed;
  top: 0;
}
#site-logo {
  cursor: pointer;
}
main {
  height: calc(100% - 7rem);
  position: fixed;
  bottom: 0;
}
.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
#bottega-veneta { background-image: url('../images/bottega.jpg'); }
#estee-lauder { background-image: url('../images/estee.jpg'); }
#adidas { background-image: url('/lloyd-beta/images/adidas.jpg'); }
#justin-timberlake { background-image: url('/lloyd-beta/images/justin-timberlake.jpg'); }
#y-3 { background-image: url('/lloyd-beta/images/y-3.jpg'); }
#narciso-rodriguez { background-image: url('/lloyd-beta/images/narciso-rodriguez.jpg'); }
