header {
  z-index: 99;
  position: fixed;
  top: 0;
  height: 5em;
}
#site-logo,
#site-nav {
  line-height: 5rem;
}
#site-logo {
  left: 3rem;
  cursor: pointer;
}
#site-nav {
  right: 3rem;
}
main {
  height: calc(100% - 5em);
  position: fixed;
  bottom: 0;
}
.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
#bottega { background-image: url('../../images/bottega.jpg'); }
#estee { background-image: url('../../images/estee.jpg'); }
