header {
  z-index: 99;
  position: fixed;
  top: 0;
}
#site-logo {
  cursor: pointer;
}
main {
  height: calc(100% - 7rem);
  position: fixed;
  bottom: 0;
}
.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
