#latest a {
  display: inline-block;
  width: 49%;
  margin-bottom: 1em;
  margin-bottom: 2vw;
}
#latest a:nth-of-type(2n) {
  margin-left: 2%;
}
#latest a:nth-last-of-type(-n+2) {
  margin-bottom: 0;
}
#latest img {
  display: inline-block;
  width: 100%;
  height: auto;
  min-height: 39.5vw;
  vertical-align: top;
}
img.placeholder {
  background-color: #ddd;
}
