#brand-name {
  margin: 0 auto;
}
section.copy,
section.project-summary,
section.press-awards {
  padding: 4.5em;
}
section.copy p {
  margin: .2em auto;
  max-width: 52em;
  font: 1.1875em/1.4 'Brown Light', 'Avenir', sans-serif;
}
.image img {
  width: 100%;
}
.image-placeholder {
  width: 100%;
  height: 38.6vw;
  background-color: #eee;
}
.column {
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  width: 25.5em;
  height: 100%;
  letter-spacing: .02em;
}
.column:first-of-type {
  border-right: solid 1px black;
  padding-right: calc(1em + 1px);
  text-align: right;
}
.column:last-of-type {
  text-align: left;
}
.column h3 {
  margin: 0;
  font-size: 1.0625em;
  font-weight: 700;
}
.column p {
  margin: 0;
}
.press-awards {
  padding: 3em;
  background-color: #eee;
  font-size: 81.25%;
}
