#brand-name {
  margin: 0 auto;
}
section.copy,
section.project-summary {
  padding: 4.5em;
}

.copy p,
.column p {
  font-family: 'Brown Light', 'Avenir', sans-serif;
}
.column h3 {
  font-family: 'Brown Bold', 'Avenir', sans-serif;
}

.copy p {
  margin: .2em auto;
  max-width: 52em;
  font-size: 1.1875em;
  line-height: 1.4;
}
.column {
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  height: 100%;
}
.column:first-of-type {
  border-right: solid 1px black;
  padding-right: calc(1em + 1px);
  text-align: right;
}
.column:last-of-type {
  text-align: left;
}
.column p {
  margin: 0;
  width: 23em;
  font-size: 1.0625em;
  line-height: 1.3;
}
.column h3 {
  margin: 0 0 .05em;
  font-size: 1.0625em;
  font-weight: 700;
}
.press-awards {
  padding: 3.25em;
  background-color: #eee;
  font-size: 87%;
}

.image img {
  width: 100%;
}
.image-placeholder {
  width: 100%;
  height: 38.6vw;
  background-color: #eee;
}
