* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'avenir', sans-serif;
}

.section {
  position: relative;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 4em;
  font-weight: 700;
}

h2 {
  margin: 0;
  padding-top: 2.625em;
  padding-bottom: 3.5em;
  font-size: 1.5625em;
  font-weight: 700;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  margin: auto;
  max-width: 49em;
  font-size: 1.125em;
  font-weight: 100;
  line-height: 1.8;
  word-spacing: .1em;
  letter-spacing: .05em;
  text-align: center;
}

svg {
  width: 100%;
  height: 100%;
}

#logo-container {
  background: white;
}
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo-small {
  z-index: 99;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  font-size: 1.875em;
  font-weight: 700;
  user-select: none;
}
#logo-small:hover {
  cursor: pointer;
}
.menuIsOpen #logo-small,
.menuIsClosed.fp-viewing-0 #logo-small {
  display: none;
}

#hamburger {
  z-index: 9999;
  position: fixed;
  left: 30px;
  bottom: 30px;
  height: 35px;
  width: 45px;
  cursor: pointer;
}

#menu-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#menu {
  background: black;
  color: white;
}
#menu section {
  background-color: black;
}

#clients-list {
  margin: auto;
  padding-left: 15%;
  padding-right: 15%;
  height: 60vh;
  font-size: 1.5625em;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#clients-list li {
  margin-bottom: .1em;
}
#clients-list a {
  padding-left: .35em;
  padding-right: .35em;
  color: white;
  font-weight: 700;
  text-decoration: none;
}
#clients-list a:hover {
  cursor: pointer;
  color: black;
  background: white;
}

.section,
.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#bottega-1 { background-image: url('./images/bottega-1.jpg'); }
#bottega-2 { background-image: url('./images/bottega-2.jpg'); }
#bottega-3 { background-image: url('./images/bottega-3.jpg'); }
#bottega-4 { background-image: url('./images/bottega-4.jpg'); }
#bottega-5 { background-image: url('./images/bottega-5.jpg'); }
#bottega-6 { background-image: url('./images/bottega-6.jpg'); }
#bottega-7 { background-image: url('./images/bottega-7.jpg'); }
#bottega-8 { background-image: url('./images/bottega-8.jpg'); }
#bottega-9 { background-image: url('./images/bottega-9.jpg'); }
#bottega-10 { background-image: url('./images/bottega-10.jpg'); }
#bottega-11 { background-image: url('./images/bottega-11.jpg'); }
#bottega-12 { background-image: url('./images/bottega-12.jpg'); }
#adidas { background-image: url('./images/adidas.jpg'); }
#estee { background-image: url('./images/estee.jpg'); }
#gucci { background-image: url('./images/gucci.jpg'); }
#packaging { background-image: url('./images/packaging.jpg'); }
#jewelry { background-image: url('./images/jewelry.jpg'); }
#book-magazine { background-image: url('./images/book-magazine.jpg'); }




/*!
 * fullPage 2.8.7
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border: none;
    margin-top: -42px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 30px;
    width: 35px;
    height: 68px;
    background: url('./images/left-arrow.svg') no-repeat;
    background-size: contain;
}
.fp-controlArrow.fp-next {
    right: 30px;
    width: 35px;
    height: 68px;
    background: url('./images/right-arrow.svg') no-repeat;
    background-size: contain;
}
.arrowUp,
.arrowDown{
    position:fixed;
    z-index:99;
    cursor: pointer;
    width: 68px;
    height: 35px;
    border: none;
    margin-left: -38px;
    left: 50%;
}
.arrowDown{
    bottom: 30px;
}
.arrowUp{
    top: 20px;
    border-width: 0 38.5px 34px 38.5px;
    border-color: transparent transparent #fff transparent;
}
.menuIsOpen.fp-viewing-2 .arrowDown,
.menuIsClosed.fp-viewing-7 .arrowDown {
  display: none;
}

.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}
