#clients {
  background-color: #e6e6e6;
}
#clients img.mobile {
  width: 100%;
  height: auto;
}
#clients img.desktop {
  display: none;
  width: 50em;
  height: auto;
}
@media (min-width: 415px) {
  #clients {
    padding: 2em 2em 3em;
    width: 90%;
  }
  #clients h1 {
    margin-bottom: 3rem;
    font-size: 1.75rem;
    letter-spacing: .06em;
  }
  #clients img.mobile { display: none; }
  #clients img.desktop { display: block; }
}
