/* ==========================================================================
   Expandables
   ========================================================================== */

/**
 * General styles
 */

.expandable {
  overflow: hidden;
  transition: .5s;
}



/**
 * ABOUT
 */

.about .is-collapsed { max-height: 0;       padding-bottom: 0; }
.about .is-expanded  { max-height: 20.5em;  padding-bottom: 1.4rem; }



/**
 * SHOWS
 */

 .shows .is-collapsed {        max-height: 21em;
   @media (min-width: 600px) { max-height: 24.5em; }
   @media (min-width: 880px) { max-height: 37em; }
}

.shows .is-expanded {         max-height: 56em;
  @media (min-width: 880px) { max-height: 69em; }
}
