/* ==========================================================================
   Form
   ========================================================================== */

/**
 * General styles
 */

form {
  text-align: center;   // to center the button
  max-width: 60em;
  font: .75em $sans;
  margin: 2.5em auto 0;
  padding: 0 1rem;

  @media (min-width: 750px) {
    margin-top: 3.75em;
  }
}



/**
 * Input and Textarea
 */

input,
textarea {
  width: 100%;
  border: none;
  font-family: $book;
  letter-spacing: .15em;
                              padding: .675em .625em   .375em;   margin:  0  0  .5em;
  @media (min-width: 750px) { padding: .8em   .75em    .5em;     margin-bottom: .75em; }
  @media (min-width: 880px) { padding: 1em    .83333em .6667em;  margin-bottom: .583em;
    margin-bottom: 1em;
  }
}

@media (min-width: 750px) {
  input               { width: 49%; width: calc(50% - .375em); }
  input[name='name']  { float: left; }
  input[name='email'] { float: right; }
}
@media (min-width: 880px) {
  input { width: 49%; }
}

textarea {
  resize: none;
                              height: 11em;
  @media (min-width: 750px) { height: 17em; }
}



/**
 * Placeholders
 */

::-webkit-input-placeholder { color: #d0d0d0; }
:-moz-placeholder           { color: #d0d0d0; }
::-moz-placeholder          { color: #d0d0d0; }
:-ms-input-placeholder      { color: #d0d0d0; }
