:root {
  --font-size: 16px;
  --line-height: 32px;
}

html {
  display: flex;
  align-items: center;
  min-height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 650px;
  color: #2c3e50;
  text-align: center;
  font: var(--font-size) courier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin: var(--line-height);
  padding: 0;
}
@media (min-width: 415px) {
  header {
    margin: calc(2 * var(--line-height));
  }
  footer {
    padding-top: var(--line-height);
  }
}
@media (min-width: 650px) {
  header {
    margin: calc(3 * var(--line-height));
  }
  footer {
    padding-top: calc(2 * var(--line-height));
  }
}

section {
  margin-bottom: var(--line-height);
}

h1,
h2,
h3,
a,
footer {
  margin: 0;
  line-height: var(--line-height);
}

h1 {
  font-size: 1.12em;
}

h2 {
  font-size: 1em;
  font-weight: normal;
}

h3 {
  font-size: 1.06em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 0.25em;
}

a {
  padding: 0 0.5em;
  display: block;
  color: #555;
}

#copyright {
  font-size: 0.94em;
}
