:root {
  --font-size: 16px;
  --line-height: 32px;
}

body {
  margin: 0 auto;
  max-width: 650px;
  color: #2c3e50;
  text-align: center;
  font: var(--font-size) courier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin: var(--line-height);
  padding: 0;
}
@media (orientation: portrait) and (min-width: 500px) {
  header {
    margin: calc(2 * var(--line-height));
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  header {
    margin: calc(3 * var(--line-height));
  }
}
@media (orientation: landscape) {
  header {
    margin: calc(2 * var(--line-height)) 0;
  }
}
@media (orientation: landscape) and (min-height: 600px) {
  header {
    margin: calc(3 * var(--line-height)) 0;
  }
}
@media (orientation: landscape) and (min-height: 720px) {
  header {
    margin: calc(4 * var(--line-height)) 0;
  }
}

main {

}

section {
  margin-bottom: var(--line-height);
}

footer {
  position: fixed;
  bottom: .25em;
  left: 0;
  width: 100%;
}

h1, h2, h3, a {
  margin: 0;
  line-height: var(--line-height);
}

h1 {  
  font-size: 1.15em;
}

h2 {
  font-size: 1em;
  font-weight: normal;
}

h3 {
  font-size: 1.075em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 .625em;
}

a {
  display: block;
  color: #555;
}

small {
  color: #aaa;
}