// Colors

$orange:       #bf9600;
$orange-light: #d6a929;
$orange-dark:  #a07300;

$green-light:  #dff0d8;

$gray-xlight:  #e6e7e9;
$gray-light:   #d9d9d9;
$gray-med:     #808184;
$gray-dark:    #414042;

$white:        #fff;
$black:        #000;




// Fonts

@font-face {
  font-family: 'futura-reg';
  src: url('fonts/futura-reg.woff') format('woff'),
       url('fonts/futura-reg.ttf') format('truetype');
}
@font-face {
  font-family: 'futura-book';
  src: url('fonts/futura-book.woff') format('woff'),
       url('fonts/futura-book.ttf') format('truetype');
}
@font-face {
  font-family: 'futura-light';
  src: url('fonts/futura-light.woff') format('woff'),
       url('fonts/futura-light.ttf') format('truetype');
}

$sans: futura, 'futura-reg', arial, sans-serif;
$book: 'futura-book', $sans;
$light: 'futura-light', $sans;
