<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="old.css">
  <link rel="stylesheet" href="main.css">
  <link rel="icon" href="favicon.png">
  <title>Thomas McEvoy official website</title>
</head>

<body ng-app="thomas" ng-strict-di>
  <header>
    <h1>THOMAS MCEVOY</h1>
    <nav>
      <ol>
        <li><md-button><a du-smooth-scroll href="#about">ABOUT</a></md-button></li>
        <li><md-button><a du-smooth-scroll duration="1000" href="#music">MUSIC</a></md-button></li>
        <li><md-button><a du-smooth-scroll duration="1500" href="#shows">SHOWS</a></md-button></li>
        <li><md-button><a du-smooth-scroll duration="2000" href="#contact">CONTACT</a></md-button></li>
      </ol>
    </nav>
    <img class="hero" src="./images/thomas.jpg" alt="">
  </header>

  <main>
    <section id="about">
      <h2>GET TO KNOW THOMAS</h2>
      <p class="lead">Thomas McEvoy is a New York based pianist with a passion for jazz music.</p>
      <p>Thomas began playing piano by ear at the age of four, and graduated from Juilliard in 2009, where he studied with Kenny Barron. He has performed at major jazz venues such as Dizzy's Club, Smalls, and Birdland. His accolades include first place in the Phillips Jazz Piano Competition, and the invitation to attend Betty Carter's Jazz Ahead composers' residency. He has been fortunate to share the stage with many notable artists, including Benny Golson, Christian McBride, Steve Turre, Ben Wolfe, Grant Stewart, Delbert Felix, and Fukushi Tainaka. Thomas maintains a busy performance schedule and is in demand as a leader and a sideman.</p>
      <p>Thomas is invested in cultivating the next generation of musicians and music appreciators. He has taught students around the world, having conducted masterclasses and private lessons in Costa Rica, Colombia, and El Salvador. He has also served as guest clinician at Snow College in Ephraim, UT, and guest lecturer at The Juilliard School. Thomas is presently on faculty at <a href="//churchstreetschool.org">Church Street School for Music and Art</a>, a great community arts school in Tribeca.</p>
    </section>

    <section id="music" ng-controller="MusicCtrl">
      <h2>LISTEN TO MUSIC</h2>
      <div class="music-player">
        <ul class="music-player--albums">
          <li class="music-player--album" ng-repeat="album in albums" ng-init="player.playlist.add(album)" ng-class="{current: player.current.album == $index}">
            <div class="music-player--album-title">{{album.title | uppercase}}</div>
            <ul class="music-player--tracks">
              <li class="music-player--track" ng-repeat="track in album.tracks" ng-class="{current: player.current.track == $index && (!player.pristine || player.paused)}" ng-click="player.play($index, $parent.$index)">{{track.title | uppercase}}</li>
            </ul>
          </li>
        </ul>

          <ul class="music-player--controls">
            <li class="music-player--controls--prev-button" ng-click="player.previous()">
              <md-button>
                <svg xmlns="http://www.w3.org/2000/svg" width="213" height="132" viewBox="0 0 213 132">
                  <path fill="none" stroke="#bf9600" stroke-width="3.5" d="M108.418 66l99 61V5zM4 66l99.293 61V5zM108.418 66l99 61V5z"/>
                </svg>
              </md-button>
            </li>
            <li class="md-raised music-player--controls--play-button" ng-show="!player.playing" ng-click="player.play()">
              <md-button>
                <svg width="105.469" height="131.621" viewBox="0 0 105.469 131.621">
                  <path fill="none" stroke="#bf9600" stroke-width="2.5" d="M1.25 2.255V129.37l101.858-63.49z"/>
                </svg>
              </md-button>
            </li>
            <li class="music-player--controls--pause-button" ng-show="player.playing" ng-click="player.pause()">
              <md-button>
                <svg width="105.469" height="131.621" viewBox="0 0 105.469 131.621">
                  <path fill="none" stroke="#bf9600" stroke-width="2.5" d="M13.25 1.25h23.652V131.46H13.25zM68.132 1.25h23.652V131.46H68.132z"/>
                </svg>
              </md-button>
            </li>
            <li class="music-player--controls--next-button" ng-click="player.next()">
              <md-button>
                <svg xmlns="http://www.w3.org/2000/svg" width="213" height="132" viewBox="0 0 213 132">
                  <path fill="none" stroke="#bf9600" stroke-width="3.5" d="M4 5v122l99-61zM108.125 5v122l99.292-61zM4 5v122l99-61z"/>
                </svg>
              </md-button>
            </li>
          </ul>
        <ul class="music-player--progress">
          <li class="music-player--progress--current-time" ng-hide="player.pristine">{{player.currentTime() | mmss}}</li>
          <li class="music-player--progress--bar">
            <span class="music-player--progress--bar--seek" ng-style="{width: player.progress_percent + '%'}"></span>
          </li>
          <li class="music-player--progress--duration" ng-hide="player.pristine">{{player.currentDuration() | mmss}}</li>
        </ul>
      </div>
    </section>

    <section id="shows" ng-controller="ShowsCtrl">
      <h2>CATCH A SHOW</h2>
      <ul class="calendar" ng-class="{'show-more':showMore}" resize>
        <li ng-repeat="month in shows">
          <h3>{{month.name}}</h3>
          <ul class="calendar--month">
            <li class="calendar--month--show col-{{$index % numCols}}" ng-repeat="show in month.shows">
              <div class="calendar--month--show--day">{{show.day}}</div>
              <div class="calendar--month--show--time">{{show.time | uppercase }}</div>
              <div class="calendar--month--show--venue"><a ng-href="//{{show.website}}">{{show.venue | uppercase }}</a></div>
              <div class="calendar--month--show--band">{{show.band | uppercase }}</div>
            </li>
          </ul>
        </li>
        <div ng-class="{fadeout:!showMore}"></div>
      </ul>
      <md-content>
        <md-button class="md-raised" ng-hide="showMore" ng-click="showMore = true">SEE MORE</md-button>
        <md-button class="md-raised" ng-show="showMore" ng-click="showMore = false">SEE LESS</md-button>
      </md-content>
    </section>

    <section id="contact" ng-controller="ContactCtrl">
      <h2>SEND A MESSAGE</h2>
      <h3>GOT QUESTIONS / COMMENTS?</h3>
      <h3>INQUIRE BELOW</h3>
      <form class="contact-form" name="contact-form" ng-submit="form.submit(contact-form.$valid)">
        <input class="contact-form--field" type="text" name="name" placeholder="NAME" ng-model="form.data.name" required>
        <input class="contact-form--field" type="email" name="email" placeholder="EMAIL" ng-model="form.data.email" required>
        <textarea class="contact-form--field" rows="11" name="message" placeholder="MESSAGE" ng-model="form.data.message" required></textarea>
        <md-button class="md-raised contact-form--submit" type="submit" ng-class="{sent: form.sent}">
          <div class="contact-form--submit--icon" ng-class="{envelope: !form.sent, check: form.sent, 'js-rotate': form.sending}"></div>
          <div class="contact-form--submit--label">{{form.value}}</div>
        </md-button>
      </form>
    </section>
  </main>

  <footer>
    <ul class="social-icons">
      <li>
        <a href="//facebook.com/tommcevoy/">
          <svg width="21.611" height="21.594" viewBox="279.5 366.5 21.611 21.594" enable-background="new 279.5 366.5 21.611 21.594">
            <path fill="#916800" d="M301.11 377.305c0-5.968-4.837-10.806-10.805-10.806-5.967 0-10.805 4.837-10.805 10.805 0 5.855 4.66 10.61 10.47 10.79V380.8h-2.644v-3.067H290v-2.66s.02-1.574.885-2.44c.866-.865 1.76-1.268 2.81-1.268s2.666.116 2.666.116v2.803h-1.82s-1.253-.066-1.295.928v2.51h3.014l-.41 3.068h-2.646v6.92c4.558-1.27 7.907-5.44 7.907-10.403"/>
          </svg>
        </a>
      </li>
      <li>
        <a href="//youtube.com/tommcevoy213/">
          <svg width="21.611" height="21.611" viewBox="0 0 21.611 21.611">
            <path fill="#916800" d="M8.83 13.72l5.12-2.914L8.83 7.86v5.86zm8.976-.414c0 2-2 2-2 2h-10c-2 0-2-2-2-2v-5c0-2 2-2 2-2h10c2 0 2 2 2 2v5zm3.805-2.5C21.61 4.838 16.774 0 10.807 0S0 4.838 0 10.806s4.838 10.806 10.806 10.806 10.805-4.84 10.805-10.806"/>
          </svg>
        </a>
      </li>
      <li>
        <a href="//linkedin.com/in/tommcevoymusic/">
          <svg width="21.611" height="21.611" viewBox="0 0 21.611 21.611">
            <path fill="#916800" d="M16.354 12.383v2.626h-2.31v-2.804c0-1.23.15-2.4-.726-2.716-.377-.136-.907-.072-1.22.116-.703.423-.622 1.564-.622 2.736v2.665H9.143V7.592h2.225v.99s.99-1.192 2.133-1.192c.852-.04 1.585.208 2.013.608.446.422.696 1.045.79 1.816.094.782.05 1.667.05 2.57M7.924 5.34c-.05.702-.622 1.188-1.246 1.23-.802.06-1.49-.585-1.427-1.452.04-.54.382-.922.767-1.102.108-.053.23-.084.415-.104.628-.068 1.108.307 1.296.61.15.24.218.484.194.818m-2.49 2.282c0-.018 0-.037.013-.04H7.74v7.427H5.434V7.62zm16.17 3.184C21.603 4.842 16.77.008 10.807.008 4.842.008.008 4.842.008 10.806c0 5.963 4.834 10.797 10.798 10.797 5.963 0 10.797-4.834 10.797-10.797"/>
          </svg>
        </a>
      </li>
    </ul>
    <div class="copyright">All content © 2014 Thomas McEvoy</div>
  </footer>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/hammerjs/hammer.js"></script>
  <script src="/bower_components/angular-material/angular-material.js"></script>
  <script src="/scripts/vendor/angular-scroll.min.js"></script>
  <script src="app.min.js"></script>
</body>
</html>
