header {
  z-index: 99;
  position: fixed;
  top: 0;
}
#site-logo {
  cursor: pointer;
}
#homepage main {
  overflow: hidden !important;
}
.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.section h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#bottega-veneta    { background-image: url('images/bottega-veneta.jpg');}
#estee-lauder      { background-image: url('images/estee-lauder.jpg');}
#adidas            { background-image: url('images/adidas.jpg');}
#justin-timberlake { background-image: url('images/justin-timberlake.jpg');}
#y-3               { background-image: url('images/y-3.jpg');}
#narciso-rodriguez { background-image: url('images/narciso-rodriguez.jpg');}
