/* ==========================================================================
   Layout
   ========================================================================== */

/**
 * Nav
 */

nav > a {
  transition: .2s;

  &:hover { border-color: #222; }
}



/**
 * About
 */

 .about { text-align: center; }  // to center the button

 p:last-child { margin-bottom: 0; }

 p > a {
   color: $orange;

   &:hover { border-bottom: .125em solid $orange; }
 }



/**
 * Music
 */

 .music { background-color: $gray-dark; }

 .music > h2 { color: $gray-light; }

 .music > h3 {
   color: $orange;
   margin: 2em 0 1.25em;
 }



/**
 * Shows
 */

 .shows {
   text-align: center;   // to center the button
   color: $gray-xdark;
 }

 .shows > h3 { color: $orange; }

 .shows > h4 {
   margin: 0 0 .875em;

   @media (max-width: 879px) { font-size: 2.25em; }
   @media (max-width: 599px) { font-size: 1.5625em; }
 }



/**
 * Contact
 */

 .contact {
   color: #67686a;
   background-color: $gray-xlight;

                               padding-bottom: .5em;
   @media (min-width: 750px) { padding-bottom: 1em; }
 }

 .contact > h3 {
   color: $orange-light;
   letter-spacing: .15em;

   @media (max-width: 749px) {
     font-size: 1em;
     letter-spacing: .075em;
   }
 }



/**
 * Footer
 */

 footer {
   padding: 1em 1em 1.5em;
   font-size: .75em;
   letter-spacing: .25em;
   color: #c7c7c7;
   background-color: $black;
 }

 small {
   font-family: $book;
   letter-spacing: .25em;
 }

 @media (max-width: 450px) {
   small { font-size: 75%; }
 }
