/* ==========================================================================
   Social icons
   ========================================================================== */

.social {
                              padding: 1em;
  @media (min-width: 750px) { padding: 1.5em; }
}

.social__icon {
  display: inline-block;
  margin: 0 .25em;
  fill: $gray-light;
                              padding: .5em;    width: 2.25em;    height: 2.25em;
  @media (min-width: 750px) { padding: .625em;  width: 2.6666em;  height: 2.6666em; }

  &:hover { fill: $white; }
}

.text-fallback        { display: none; }
.no-js .text-fallback { display: inline-block; }
