.calendar {
  margin: auto;
  overflow: hidden;
  position: relative;
  transition: max-height 1.5s;
                               width: 18.75em; max-height: 20em;
  @media (min-width: 600px)  { width: 34em;    max-height: 35.75em; }
  @media (min-width: 880px)  { width: 49.5em;  max-height: 37.5em;  }
  &.show-more                {                 max-height: 85em;    }

  & > li {
    &:nth-of-type(n+2) {
      padding-top: 2.25em;
      @media (min-width: 750px) { padding-top: 4em; }
      @media (min-width: 880px) { padding-top: 6em; }
    }
  }

  &__month {
    @extend %clearfix;

    &__show {
      position: relative;
      margin: auto;
      float: left;
      width: 16.5em;
      height: 15.375em;
      padding: 2em 1% 0;
      text-align: center;
      font-family: $book;
      letter-spacing: .125em;
      border-bottom: .15em solid $orange-light;
      @media (max-width: 599px) {
        font-size: .55rem;
        padding-top: 2.5em;
        &.col-0 { border-right: .15em solid $orange-light; }
        &:nth-last-child(-n+2) { border-bottom: none; }
      }
      @media (min-width: 600px) {
        &.col-0,
        &.col-1 { border-right: .15em solid $orange-light; }
        &:nth-last-child(-n+3) { border-bottom: none; }
        @media (max-width: 879px) {
          font-size: .675rem;
        }
      }
      &__day {
        font: 7em/.9 $light;
        @media (min-width: 880px) { font-size: 8em; }
      }
      &__details {
        position: absolute;
        bottom: 1em;
        left: 0;
        right: 0;
      }
      &__time,
      &__band  { font: .75em $sans;  padding: 0 0 .25em; letter-spacing: .1em; }
      &__venue { font-size: 1.25em; padding: .25em 1em .0625em;
        a { color: $orange-light; }
      }
    }
  }
}
