.form {
  @extend %clearfix;
  max-width: 45rem;
  margin: auto;
  padding-top: .75em;
  font-family: $book;

  ::-webkit-input-placeholder { color: #D0D0D0; }
  :-moz-placeholder           { color: #D0D0D0; }
  ::-moz-placeholder          { color: #D0D0D0; }
  :-ms-input-placeholder      { color: #D0D0D0; }

  @media (min-width: 880px),
         (min-width: 750px) and (orientation: portrait) {
    padding-top: 2.25em;

    input {
      max-width: 49%;
      margin-bottom: 1em;
    }
    input[type=text]  { float: left; }
    input[type=email] { float: right; }
  }

  textarea {
                                height: 10em;
    @media (min-width: 750px) { height: 17em; }
  }

  &__field {
    width: 100%;
                                font-size: .675em; margin-bottom: .4375em; padding: .5em;
    @media (min-width: 750px) { font-size: .75em;  margin-bottom: 1em;     padding: .875em 1em .75em; }
    resize: none;
    border: none;
    letter-spacing: .15em;
  }

  &__submit {
    @extend %clearfix;
                                margin-bottom: .5em;
    @media (min-width: 880px) { margin-bottom: 1em;  }
  }
}
