.modal {
  position: fixed;

  top: 37.5%;
  top: calc(50vh - 87.5px);
                              left: 10%;
  @media (min-width: 600px) { left: 25%;                }
  @media (min-width: 800px) { left: 33%;                }
                              left: calc(50vw - 200px);

  width: 400px;
  height: 175px;
  padding: 6.25em;

  background: black;
  color: white;
  font: .6875em $sans;
  letter-spacing: .2em;
  text-align: center;
}
