.social-icons {
  padding: 1.5em 0 2.25em;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 .75em;
                                height: 2.25em; width: 2.25em;
    @media (min-width: 750px) { height: 2.5em;  width: 2.5em;  }

    a {
      padding: .375em;

      .no-touch &:hover svg path,
                &:active svg path {
        transition: .3s;
        fill: white;
      }
    }
  }
}
