#music {
  background: $gray-dark;
  padding-bottom: 3.5em;
  @media (min-width: 750px) { padding-bottom: 6.25em; }
  @media (min-width: 880px) { padding-bottom: 7.625em; }

  h2 {
    @media (max-width: 799px) { padding: 1em 0 .75em; }
    color: $gray-light;
  }
}
