$white:        #fff;
$gray-xlight:  #e6e7e9;
$gray-light:   #d9d9d9;
$gray-med:     #808184;
$gray-dark:    #414042;
$gray-xdark:   #222;
$black:        #000;
$orange-light: #d6a929;
$orange:       #bf9600;


$sans: 'Futura', 'Futura Standard', 'Trebuchet MS', sans-serif;
$book: 'Futura Book', $sans;
$light: 'Futura Light', $book;
