.player {
  letter-spacing: .1875em;
                              font-size:  .875em;
  @media (min-width: 750px) { font-size: 1.25em;  }

  &__album {
      display: block;
          color: $orange;
              text-align: center;
                   padding-bottom: 1.25em; }
  &__album-title { padding-bottom: 1.25em; }
  &__track       { padding-bottom:  .375em;
              color: $gray-light;
          cursor: pointer;
    //conditional slashes between songs
    @media (min-width: 1090px) {
      display: inline-block;
      &:before {
        content: ' / ';
        color: $orange;
      }
      &:first-of-type:before { content: ''; }
    }
  }

  &__track {
    .no-touch &:hover,
              &:active { color: $white;                     }
  }
  .current .current    { color: $gray-med; cursor: default; }




  // Controls

  &__controls {
    @extend %clearfix;
                                 width: 75%; margin:  .675em auto;
    @media (min-width: 750px)  { width: 72%; margin: 1.375em auto; }
    @media (min-width: 880px)  { width: 56%;                       }
    @media (min-width: 1500px) { width: 40%; margin: 1.5em   auto; }
    text-align: center;
    li {
      display: inline-block;
      .no-touch &:hover
                &:active {
        rect,
        polygon { stroke: lighten($orange, 13%); }
      }
    }
    &__play-button { position: relative; left: 1%; }
    &__play-button,
    &__pause-button {
                                  height: 3.5em;  width: 3.5em;
      @media (min-width: 750px) { height: 4.25em; width: 4.25em; }
      @media (min-width: 880px) { height: 5em;    width: 5em;    }
      margin: 0 1.5em;
      cursor: pointer;
    }
    &__prev-button,
    &__next-button {
      cursor: pointer;
      position: relative;
                                  height: 2.33333em; width: 3.88888em; top: .583333em;
      @media (min-width: 750px) { height: 2.83333em; width: 4.72222em; top: .708335em; }
      @media (min-width: 880px) { height: 3.33333em; width: 5.55555em; top: .833335em; }
    }
    &__prev-button { float: left;  }
    &__next-button { float: right; }
  }




  // Progress

  &__progress {
                                 width: 100%;
    @media (min-width: 750px)  { width: 91%;  }
    @media (min-width: 880px)  { width: 82%;  }
    @media (min-width: 1500px) { width: 60%;  }
    height: 1em;
    margin: auto;
    text-align: center;
    li { display: inline-block; }

    &__bar {
      width: calc(100% - 6em);
      height: .125em;
      margin: auto;
      background: #48484a;

      &__seek {
        display: block;
        height: 100%;
        float: left;
        background: #777;
        }
    }

    &__current-time,
    &__duration {
      font: .625em $book;
      color: $gray-light;
      letter-spacing: .2em;
      position: relative;
      top: .25em;
    }

    &__current-time { text-align: left; }
    &__duration     { text-align: right; left: .25em; }
  }
}
