#about,
#the-people {
  margin: 0 .5em;
}
p {
  font-size: 1.1875em;
  margin: 0 auto 1.5rem;
}
#about p {
  margin-bottom: .75em;
  font-family: 'Brown Bold', 'Avenir', sans-serif;
  line-height: 1.55;
}
#the-people p {
  line-height: 1.625;
}
@media (max-width: 414px) {
  h1 {
    margin-bottom: .5em;
  }
  h2 {
    margin-bottom: 1em;
  }
}
@media (max-width: 375px) {
  #about,
  #the-people { font-size: 1.125em; }
}
@media (max-width: 325px) {
  #about,
  #the-people { font-size: 1.0625em; }
}
@media (min-width: 415px) {
  h1 { margin: 4rem auto; }
  h2 { margin: 5rem auto; }
  #about p { width: 38.5em; }
  #the-people p { width: 43em; }
  #about p span {
    display: block;
    margin: auto;
    width: 28em;
  }
}

#the-people h3 {
  margin: 1em auto;
}
#the-people p:nth-of-type(2) {
  margin-bottom: 3rem;
}
#the-people img {
  width: 10.5em;
  height: 10.5em;
}
